html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1000px;
}

header {
    background-color: khaki;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}

main {
    padding: 5px;
}